*{
    margin: 0;
    padding: 0%;
}

.card-container{
    width: 500px;
    margin: 0 auto
}
.card-header{
    background-color: teal;
    height: 80px;
    border: 2px dotted teal;
    border-radius: 10px 10px 0px 0px;
}
.img-user{
    height: 60px;
    border: 4px solid lightgray;
    border-radius: 50%;
    position: relative;
    top: 45px;
    left: 16px;    
}
.card-body{
    border: 2px solid gray;
    padding: 16px 16px;
}
.card-body h1{
    margin: 16px 0px 8px 0px;
}
.card-body img{
    height: 16px;
}
.card-body label{
    font-size: 1.2rem;
    margin-left: 8px;
    font-weight: bolder;
}
.card-body div{
    margin: 8px 0px;
}

.card-body label a{
    font-size: 1rem;
    color: blue;
    font-weight: lighter;
}